@page "/"

@inject LiloApp.Services.NavigatorService NavigatorService
@inject LiloApp.ViewModels.MainViewModel ViewModel
@using LiloApp.Data

<div>
    <h1 class="text-5xl font-medium text-center select-none mx-3">¿Qué deseas hacer hoy?</h1>

    @if (ViewModel != null && ViewModel?.Pets?.Count() > 0)
    {
        <div class="relative">
            <img src=@($"/images/{ViewModel?.Pets?.First().Animal}_pixelart.png") class="m-auto block my-16 select-none" />

            @if (ViewModel?.Pets?.First().Life > 50)
            {
                <img src="/images/heart-emoji.png" class="absolute inset-0 mx-auto top-14 size-8 left-16" />
            }
            else if (ViewModel?.Pets?.First().Life < 50)
            {
                <img src="/images/Skull-3d-icon.png" class="absolute inset-0 mx-auto top-20 size-4 left-16" />
            }
        </div>
    } else
    {
        <p class="m-auto block my-16 select-none">Cargando...</p>
    }

    <ul class="space-y-8">
        <li>
            <NavLink href="/english" class="block relative p-[0.7em] text-lg">
                <svg class="button__shape w-full" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <path class="button__path" d="M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0 z" />
                </svg>
                <span class="block relative text-center text-white">
                    Aprender inglés
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/dreams-board" class="block relative p-[0.7em] text-lg">
                <svg class="button__shape w-full" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <path class="button__path" d="M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0 z" />
                </svg>
                <span class="block relative text-center text-white">
                    Calendario de sueños
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/workout" class="block relative p-[0.7em] text-lg">
                <svg class="button__shape w-full" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <path class="button__path" d="M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0 z" />
                </svg>
                <span class="block relative text-center text-white">
                    Mi progreso físico
                </span>
            </NavLink>
        </li>
    </ul>
</div>

@code {

    private PetLifeData petLifeData = new PetLifeData();
    private PetData petData = new PetData();
    private PetData Pet { get; set; }

    protected override void OnInitialized()
    {
        NavigatorService.NavigateTo("HomePage");
    }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadDataAsync();
    }
}