@page "/"

@inject LiloApp.Services.NavigatorService NavigatorService
@inject LiloApp.ViewModels.MainViewModel ViewModel
@using LiloApp.Data

<div class="wrapper">
    <h1 class="text-5xl font-medium mb-16 text-center mx-4 select-none mt-8">¿Qué deseas hacer hoy?</h1>

    @if (Pet != null)
    {
        <img src=@($"/images/{Pet.Animal}_pixelart.png") class="m-auto block my-16 select-none" />
    }

    <ul class="space-y-8 px-8">
        <li>
            <div class="block relative p-[0.7em] text-lg pointer-event-none">
                <svg class="button__shape w-full fill-gray-300 pointer-event-none" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <path class="button__path" d="M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0 z" />
                </svg>
                <span class="block relative text-center text-white">
                    Aprender inglés
                </span>
            </div>
        </li>
        <li>
            <NavLink href="/dreams-board" class="block relative p-[0.7em] text-lg">
                <svg class="button__shape w-full" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <path class="button__path" d="M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0 z" />
                </svg>
                <span class="block relative text-center text-white">
                    Calendario de sueños
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/workout" class="block relative p-[0.7em] text-lg">
                <svg class="button__shape w-full" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <path class="button__path" d="M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0 z" />
                </svg>
                <span class="block relative text-center text-white">
                    Mi progreso físico
                </span>
            </NavLink>
        </li>
    </ul>
</div>

@code {

    private PetLifeData petLifeData = new PetLifeData();
    private PetData petData = new PetData();
    private PetData Pet { get; set; }

    protected override void OnInitialized()
    {
        NavigatorService.NavigateTo("HomePage");
    }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadDataAsync();

        if (ViewModel != null && ViewModel.Owners != null && ViewModel.Pets != null)
        {
            Pet = ViewModel.Pets.Count == 0 ? null : ViewModel.Pets.First();
        }
    }
}