@page "/"

@inject LiloApp.Services.NavigatorService NavigatorService

@code {
    protected override void OnInitialized()
    {
        NavigatorService.NavigateTo("HomePage");
    }
}

<div class="top-12 relative">
    <h1 class="text-5xl font-semibold text-center mb-8">¿Qué deseas hacer hoy?</h1>

    <img src="/images/cat_pixelart.png" class="m-auto block my-16" />

    <ul class="space-y-8 px-8">
        <li>
            <NavLink href="/english" class="block relative p-[0.7em] text-lg">
                <svg class="button__shape w-full" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <path class="button__path" d="M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0 z" />
                </svg>
                <span class="block relative text-center text-white">
                    Aprender inglés
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/dreams-board" class="block relative p-[0.7em] text-lg">
                <svg class="button__shape w-full" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <path class="button__path" d="M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0 z" />
                </svg>
                <span class="block relative text-center text-white">
                    Mapa de sueños
                </span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/workout" class="block relative p-[0.7em] text-lg">
                <svg class="button__shape w-full" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <path class="button__path" d="M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0 z" />
                </svg>
                <span class="block relative text-center text-white">
                    Mi progreso físico
                </span>
            </NavLink>
        </li>
    </ul>

</div>