@page "/workout/muscle-groups"

@inject LiloApp.Services.NavigatorService NavigatorService

<article class="mt-10">
	<div class="grid h-full w-full grid-cols-2 gap-4">
		<NavLink href="/workout/muscle-groups/Pectorales/1" class="flex items-center justify-center bg-white p-4 rounded-xl shadow-xl row-span-2 h-48">Pectorales</NavLink>
		<NavLink href="/workout/muscle-groups/Femorales/2" class="flex items-center justify-center bg-white p-4 rounded-xl shadow-xl h-20">Femorales</NavLink>
		<NavLink href="/workout/muscle-groups/Glúteos/3" class="flex items-center justify-center bg-white p-4 rounded-xl shadow-xl row-span-2 h-48">Glúteos</NavLink>
		<NavLink href="/workout/muscle-groups/Brazos/4" class="flex items-center justify-center bg-white p-4 rounded-xl shadow-xl row-span-2">Brazos</NavLink>
		<NavLink href="/workout/muscle-groups/Espalda/5" class="flex items-center justify-center bg-white p-4 rounded-xl shadow-xl h-20">Espalda</NavLink>
		<NavLink href="/workout/muscle-groups/Cuádriceps/6" class="flex items-center justify-center bg-white p-4 rounded-xl shadow-xl col-span-2 h-20">Cuádriceps</NavLink>
	</div>
</article>

@code {
	protected override void OnInitialized()
	{
		NavigatorService.NavigateTo("MuscleGroupsPage");
	}
}
