@page "/404"
@inject NavigationManager Navigation

<h3>Page Not Found</h3>
<p>Sorry, the page you are looking for does not exist.</p>
<p>
    <a @onclick="NavigateToHome">Go to Home Page</a>
</p>

@code {
    private void NavigateToHome()
    {
        Navigation.NavigateTo("/");
    }
}