@inherits LayoutComponentBase

@inject LiloApp.Services.NavigatorService NavigatorService
@inject NavigationManager NavigationManager

@code {
    protected override void OnInitialized()
    {
        NavigatorService.NavigationManager = NavigationManager;
        NavigatorService.OnPageChanged += UpdateState;

        base.OnInitialized();
    }

    private void UpdateState()
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        NavigatorService.OnPageChanged -= UpdateState;
    }
}

<div class="p-4 bg-cover bg-no-repeat h-full min-h-[100vh] bg-fixed @(NavigatorService.CurrentPage == "DreamsBoardListPage" || NavigatorService.CurrentPage == "DreamPage" ? "bg-[url('/images/dreamboard_screen.webp')]" : "bg-[url('/images/background.webp')]")">
    <div>
        <NavMenu />
    </div>

    <main>
         <article>
            @Body
        </article>
    </main>
</div>

